{
	//typescript를 위한 parser 설정
  "parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
  "extends": [
		"airbnb-base",
		"plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
	],// 여기까지가 기본 룰 이후는 각자 세팅
  "parserOptions": { // 파서 옵션 
    "ecmaVersion": 2018, //사용할 ECMAScript 버전
    "sourceType": "module" // parser의 export 형태
  },
	"env": { //전역번수 선언 jest를 위해 추가 import 없이 쓰는 명령어들
	    "jest": true
	},
	"rules": {
    "no-shadow": "off",
    "no-unused-vars": "off",
    "max-len": "off",
    "import/extensions": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "eslint-disable-next-line": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.ts", "**/*.test.js"]}],
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": "off"
  }
}